<button type="button" class="back-to-top" hidden aria-label="Back to top">
	<svg
		width="20"
		height="20"
		viewBox="0 0 20 20"
		fill="none"
		stroke="currentColor"
		stroke-width="2.5"
		stroke-linecap="round"
		stroke-linejoin="round"
		aria-hidden="true"
	>
		<polyline points="15,12 10,7 5,12" />
	</svg>
</button>
