<div id="cite-popover" role="dialog" aria-modal="false" aria-labelledby="cite-popover-source" tabindex="-1" hidden>
	<span id="cite-popover-source" class="cite-source"></span>
	<a class="cite-link" target="_blank" rel="noopener noreferrer">View source ↗</a>
</div>
